<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UniSelectionField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B39656C61D66A1E90014E1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39656DA1D66A1EA0014E1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B39656E51D66A1EA0014E1B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
